p {
  font-size: 1.25rem;
  color: #7f8c8d; /* Soft grey */
}

#profilePicture {
  max-width: 300px;
  margin-top: 10px;
}

/* Navigation Tabs Styling */
.nav-tabs .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #555; /* Neutral grey for tabs */
  transition: color 0.3s;
}

.nav-tabs .nav-link.active {
  color: #3498db; /* Blue for active tab */
  border-color: #3498db; /* Match active color */
}

.nav-tabs .nav-link:hover {
  color: #2980b9; /* Darker blue on hover */
}

/* Card Styling */
.card {
  background-color: #fefefe;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05); /* Soft shadow */
}

/* Form Fields Styling */
.form-label {
  font-weight: 600;
  color: #34495e; /* Dark grey-blue */
}

.form-control {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.4); /* Blue glow */
}

.btn-danger {
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  padding: 30px 50px;
  font-weight: 600;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-danger:hover {
  background-color: #c0392b;
  box-shadow: 0 5px 15px rgba(192, 57, 43, 0.3); /* Red shadow */
}

/* Sign Out Button Center Alignment */
.mt-3.text-center {
  margin-top: 30px;
}

/* Custom File Input Styling */
input[type="file"] {
  display: none;
}

/* Form Field Hover Effect */
.form-control:hover {
  border-color: #bbb;
}

/* Form Button Spacing */
button[type="submit"] {
  margin-top: 15px;
  width: 100%; /* Make the button full-width */
}

/* Custom styles for buttons */
.save-btn {
  margin-right: 5px;
}

.delete-btn {
  margin-left: 5px;
}

.sign-out-btn {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
  font-weight: 700 !important;
}

.sign-out-btn:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-wide {
  width: 120px; /* Adjust the width to your preference */
}
