.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
}
p {
    text-align: start;
    
}
.post-box{
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    margin: 10px;
    padding: 45px;
    
}
.comment-input {
    border-radius: 30px;
    padding-left: 15px;
}

.comment-section {
    margin-top: 20px;
}

.comment {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.post-button {
    background-color: #35495e;
    color: white;
}
.comment strong{
    display: flex;
    justify-content: flex-start;
}
.mb-3 a{
    text-align: start;
}