/* Audio Container */
#audioContainer {
  position: relative; /* Ensures positioning for indicator */
  padding: 1rem;
}

#audioPlayback {
  border-radius: 1000px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Default shadow */
}

#recordingIndicator {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  text-align: center;
}

/* Buttons */
button {
  padding: 10px;
  font-size: 1rem;
}

/* Progress Bar */
.progress {
  height: 1.5rem; /* Thicker bar */
}

.progress-bar {
  background-color: #e4c04b;
}

/* Cards */
.card {
  padding: 15px;
  border-radius: 0.5rem;
}

.btn {
  max-width: 300px;
}
