/* Horizontal Progress bar styling */
.progress-bar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-bottom: 30px;
  margin-top: 0;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.progress-bar-custom li {
  font-size: 16px;
  color: #6c757d;
  list-style-type: none;
  position: relative;
  text-align: center;
  flex: 1;
}

.progress-bar-custom li .dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #dcdcdc;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
}

.progress-bar-custom li.active-step .dot {
  background-color: #ffcc00; /* Yellow dot for active step */
}

.progress-bar-custom li.active-step {
  color: #ffcc00;
}

.progress-bar-custom li::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #dcdcdc; /* Grey color for inactive steps */
  position: absolute;
  top: 6px;
  left: 50%;
  z-index: 0;
}

.progress-bar-custom li.active-step::after {
  background-color: #dcdcdc; /* Yellow line for active steps */
}

.progress-bar-custom li:first-child::after {
  left: 50%; /* Line starts from middle */
  background-color: #ffcc00; /* Yellow line from the first step */
}

.progress-bar-custom li:last-child::before {
  content: ""; /* Adding a grey line before the last step */
  height: 2px;
  width: 50%;
  background-color: #dcdcdc; /* Grey line before the last step */
  position: absolute;
  top: 6px;
  right: 50%;
  z-index: 0;
}

.progress-bar-custom li:last-child::after {
  content: none; /* Remove the line after the last step */
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .progress-bar-custom li {
    font-size: 10px !important;
  }
}

/* Styling for payment title */
.payment-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Styling for workshop information and price */
.workshop-info,
.gift-card-info,
.final-amount-info {
  font-size: 16px;
  margin-bottom: 5px;
}

.total-price,
.gift-card-value,
.final-amount {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: right;
}

/* Add spacing between sections */
.gift-card-section {
  margin-top: 10px;
}

.final-amount-section {
  margin-top: 15px;
}

/* Optional: Styling for the text-danger class to highlight the voucher value */
.text-danger {
  color: #dc3545; /* Bootstrap's default red color */
}

/* Horizontal Line below workshop info */
.payment-line {
  border: 1px solid #dcdcdc;
  margin-bottom: 20px;
}

/* QR Code styling */
.qr-code-container {
  margin-top: 20px;
}

.qr-code-text {
  margin-top: 10px;
  font-size: 16px;
}
